__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.coverage
htmlcov/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/secom/
data/raw/secom/*
!data/raw/secom/.gitkeep
!data/processed/secom/
data/processed/secom/*
!data/processed/secom/.gitkeep
